	<div class="container">
		<div class="row">
			<div class="col-xs-6">
	
				<%=form_for @question do |question_fields| %>
				
				<%=question_fields.hidden_field :options %>
				<div class="field form-group">
					<p><strong>What is your question?</strong></p>
					<%=question_fields.text_field :title, :class => "col-xs-6"%>
				</div>
				<br>

				<div class="field form-group">
					<%=question_fields.fields_for(:option, Option.new(survey_id: params[:survey_id])) do |options_fields|%>
				</div>
				
			
					<%@options_num.times do |x| %>
				<div class="field form-group">
				
					<span>
					<p><strong><%="Option #{x+1}:"%></strong></p><span>
					<%=options_fields.text_field :name, :class => "col-x-6"%>
					
				</div>

			
				<%end%>
				<div class="field form-group col-xs-6">
					<%=question_fields.submit "Add Question", :class=> "btn btn-large btn-primary btn-block" %>
				<% end%>
			<% end %>
				
			</div>
		</div>
	</div>