<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<%=form_for @survey, {:html => {:class => "form-horizontal" }} do |survey_fields| %>

				<div class="field form-group">
					<%=survey_fields.label :title, :class => "col-xs-3" %>
					<br>
					<%=survey_fields.text_field :title, :class => "col-xs-3" %>
				</div>

				<div class="field form-group">
					<%=survey_fields.label :description, :class => "col-xs-3" %>
					<br>
					<%= survey_fields.text_field :description, :class => "col-xs-3" %>
				</div>

				<br>
				
				<h2>Add a Question</h2>
				<p> Choose which type of question to add</p>
				

				<div class="field form-group">
				  <%=survey_fields.fields_for(:question_type, QuestionType.new) do |question_type_fields| %>

				  <%=question_type_fields.label :question_type, :class =>"col-xs-3"%>
				  <br>

				  <%=question_type_fields.collection_select(
				  		:question_type,
				  		QuestionType.all,
				  		:id,
				  		:question_type) %>
				</div>

				<br>
				<div class="field form-group">
				<%=survey_fields.submit "Add a New Question", :class => "btn btn-large btn-primary btn-block" %>
				</div> 


				<%end%>
				<%end%>

			</div>
		</div>
	</div>